.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    height: 70vh;
}

.card{
    max-width: 700px;
}

.about{
    font-size: larger;
    font-weight: 500;
}

.name{
    display: flex;
    justify-content: right;
    padding-right: 40px;
}