<div class="container">
    <div class="card">
        <div class="card-content">
            <div class="about"> 
                I explore the intersections of technology, creativity, and human experince, 
                uncovering connections and crafting systems. 
            <br>
            <br>
                Technology is more than a tool, it's a medium for transforming ideas into 
                realities and questioning what's possible.
            <br>
            <br>
                Each project is a journey to transfrom an idea into reality, question assumptions 
                and design systems that reshape how we see and engage with the world.
            </div>
            <br>

            <div class="name">
                - Thato Chitja
            </div>
        </div>
    </div>
</div>