<div class="container">
    <div class="column">
        <div class="card">
            <div class="image">

            </div>
            <div class="card-content">
                <div class="projectName">Project Name: Student Enrollment System</div>
                <div class="sourceCode">Source Code: </div>
            </div>
        </div>
    </div><div class="column">
        <div class="card">
            <div class="image">

            </div>
            <div class="card-content">
                <div class="projectName">Project Name: Automotive Repair System</div>
                <div class="sourceCode">Source Code: </div>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <div class="image">

            </div>
            <div class="card-content">
                <div class="projectName">Project Name: Project Management Systems</div>
                <div class="sourceCode">Source Code: </div>
            </div>
        </div>
    </div>
</div>